@model Intwenty.Model.IntwentyUISection
@{
    if (Model.Panels == null){
        return;
    }
    if (Model.Panels.Count==0)
    {
        return;
    }
 }

 @foreach (var panel in Model.Panels)
  {
      <div class="col-md-@(12/Model.Panels.Count)">


        @foreach (var t in panel.ChildElements)
        {
                                //Current Render Context
                                //t.CurrentRenderContext = Model.CurrentRenderContext;

            if (t.ElementType== IntwentyUIElementType.TextValue)
            {
                 @await Html.PartialAsync("UIControls/_Label", t)

            }
            if (t.ElementType == IntwentyUIElementType.TextBox)
            {
                @await Html.PartialAsync("UIControls/_TextBox", t)
            }
            @* if (t.IsMetaTypeNumBox) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_NumBox", t) *@

            @* } *@

            @* if (t.IsMetaTypeDatePicker) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_DatePicker", t) *@

            @* } *@

            @* if (t.IsMetaTypeCheckBox) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_CheckBox", t) *@

            @* } *@

            @* if (t.IsMetaTypeTextArea) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_TextArea", t) *@

            @* } *@

            @* if (t.IsMetaTypeComboBox && t.HasValueDomain) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_ComboBox", t) *@

            @* } *@

            @* if (t.IsMetaTypeImageBox) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_ImageBox", t) *@

            @* } *@

            @* if (t.IsMetaTypeImage) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_Image", t) *@

            @* } *@

            @* if (t.IsMetaTypeEmailBox) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_EmailBox", t) *@

            @* } *@


            @* if (t.IsMetaTypeSearchBox) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_SearchBox", t) *@
            @* } *@



            @* if (t.IsMetaTypeTextBlock) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_TextBlock", t) *@

            @* } *@

            @* if (t.IsMetaTypeStaticHTML) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_StaticHtml", t) *@

            @* } *@

            @* if (t.IsMetaTypeYesNoUnknown) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_YesNoUnknown", t) *@

            @* } *@

            @* if (t.IsMetaTypeRadioList) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_RadioList", t) *@

            @* } *@

            @* if (t.IsMetaTypeCheckList) *@
            @* { *@
            @*     @await Html.PartialAsync("UIControls/_CheckList", t) *@

            @* } *@



        }  <!--FOR CONTROL -->

      </div> <!--COL PANEL -->
                        
  }

                    