@model Intwenty.Model.IntwentyUIListView

@{

    // var func_edit_path = "";
    // var func_edit_path_requestinfo = "";

    // if (Model.HasEditFunction)
    // {
    //     if (!Model.EditFunction.IsModalAction)
    //     {
    //         func_edit_path = Model.EditFunction.ActionPath;
    //         if (func_edit_path.Contains("{requestinfo}"))
    //         {
    //             func_edit_path = func_edit_path.Replace("/{requestinfo}", "");
    //             func_edit_path_requestinfo = Model.EditFunction.BuildRuntimeRequestInfo(Model.RuntimeRequestInfo.RequestInfo);
    //         }
    //         if (func_edit_path.Contains("{id}"))
    //         {
    //             func_edit_path = func_edit_path.Replace("/{id}", "");
    //         }
    //         else
    //         {
    //             TODO: 
    //             Call edit view with b64 encoded request info
    //             Need (per tableline): 1. js decode requestinfo. 2. insert ID= js.id 3. reencode requestinfo, assign it to url
                

    //         }


    //     }
    // }
}



<table class="table table-responsive-sm">
    <thead>
        <tr>
            @if (Model.EnableDelete)
            {
                <th style="width:5%"></th>
            }
            @if (Model.EditMode != IntwentyEditMode.None)
            {
                <th style="width:5%"></th>
            }

           @foreach (var c in Model.Columns)
           {
                <th ba-click="sortBycolumn('@c.DbColumnName',null)" style="cursor:pointer">@c.LocalizedTitle <span class="fa fa-sort-alpha-down-alt"></span></th>
           }
        </tr>
    </thead>

    <tr ba-foreach="item in sortedAppTable">

        @if (Model.EnableDelete)
        {
            <td style="vertical-align:middle"><button class="btn btn-sm btn-danger" ba-click="deleteApplication()"><span class="fas fa-trash" title="Remove"></span></button></td>
        }
        @if (Model.EditMode != IntwentyEditMode.None)
        {
            <td style="vertical-align:middle"><button class="btn btn-sm btn-secondary"><span class="fas fa-edit" title="Edit"></span></button></td>
            @* @if (Model.EditFunction.IsModalAction) *@
            @* { *@
            @*     <td style="vertical-align:middle"><button class="btn btn-sm btn-secondary" ba-click="openApplicationModal('@Model.EditFunction.ActionMetaCode')"><span class="fas fa-edit" title="Edit"></span></button></td> *@
            @* } *@
            @* else *@
            @* { *@
            @*     <td style="vertical-align:middle"><button ba-click="goToLink('@func_edit_path','@func_edit_path_requestinfo')" class="btn btn-sm btn-secondary"><span class="fas fa-edit" title="Edit"></span></button></td> *@

            @* } *@
        }

        @foreach (var c in Model.Columns)
        {
            <td>{{item.@c.DbColumnName}}</td>
        }

    </tr>
</table>

@* @if (Model.HasPagingFunction) *@
@* { *@
@*     <nav> *@
@*         <ul class="pagination"> *@
@*             <li class="page-item" ba-class-if="isMainTableFirstPage?disabled"><a class="page-link" href="#" ba-click="prevPage()">Previous {{root.model_pageInfo.pageSize}}</a></li> *@
@*             <li class="page-item" ba-class-if="isMainTableLastPage?disabled"><a class="page-link" href="#" ba-click="nextPage()">Next {{root.model_pageInfo.pageSize}}</a></li> *@
@*         </ul> *@
@*     </nav> *@
@* } *@
