@model Intwenty.Model.IntwentyUIListView



<br />
    @await Html.PartialAsync("UISections/_ApplicationSubTableHeader", Model)
<br />


<table class="table table-responsive-sm">

    <thead>
        <tr>
            @if (Model.EnableDelete)
            {
                <th style="width:5%"></th>
            }
            @if (Model.EditMode != IntwentyEditMode.None)
            {
                <th style="width:5%"></th>
            }


            @foreach (var c in Model.Columns)
            {
                <th>@c.LocalizedTitle <span class="fa fa-sort-alpha-down-alt"></span></th>
            }
        </tr>
    </thead>

    <tr ba-foreach="row in root.model.@Model.DbTableName>

        @if (Model.EnableDelete)
        {
            <td style="vertical-align:middle"><button class="btn btn-sm btn-danger"><span class="fas fa-trash" title="Remove"></span></button></td>
        }
        @if (Model.EditMode != IntwentyEditMode.None)
        {
            <td style="vertical-align:middle"><button class="btn btn-sm btn-secondary"><span class="fas fa-edit" title="Edit"></span></button></td>

        }

        @foreach (var c in Model.Columns)
        {
            <td>{{item.@c.DbColumnName}}</td>
        }

    </tr>

</table>

