@model LoginModel

<br />
<br />

<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body">
        @Localizer["PRODUCT_LOGIN"]
    </div>
</div>

<br />
<br />