@model IntwentyApplication

<div id="app">
    <div>
        <br />
        <br />

        <div class="card">
            <div class="card-header"><h2>Manage UI</h2></div>
            <div class="card-body">
                Available views for application <b>@Model.Title</b>
                <br />
                <br />
                <div class="alert alert-primary" role="alert">
                    <i class="far fa-question-circle"></i>
                    You define your views in the json file intwenty.json
                </div>
                <a asp-action="ApplicationList" asp-controller="Model" role="button" class="btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> Back to list</a>
                <br />
            </div>
        </div>
       
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:95%">Application Views</th>
                </tr>
            </thead>
            <tr ba-foreach="item in root.datalist">
                <td>

                    <div class="row">
                        <div class="col-md-6">
                            <b>{{item.title}}</b> (Path: {{item.requestPath}})
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>


@section Scripts
{

    <script>

        const app = getBareaApp();
        const content =
        {
            data: function () 
            {
                return {  datalist:[] };
            },
            methods:
            {
              
             
                getList: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "GetApplicationViews/@Model.Id";
                    fetch(endpointurl, function (response)
                    {
                        context.datalist = response;
                        
                    });
                }

            },
            computed: 
            {

            },
            mounted: function ()
            {

                var context = this;
                context.getList();

            }
        };

       app.mount("app", content);

    </script>


}