
body {
    padding-top: 10px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.landingpage {
    background: url(../images/bg_stones_1920.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: black;

}

.modal {
    color: black;
}


.requiredNotValid {
    border-color: red;
    background: #FDD;
}


/*Used in Intwenty Create / Edit Views */
.intwentypanel {
    border: solid 0px #DDD !important;
    padding: 10px;
}

.largecheckbox {
    display: flex;
    align-items: initial;
    margin-bottom: 10px;
}

.largecheckbox input[type=checkbox] {
    zoom: 1.5;
    margin: 0px;
    line-height: normal;
    align-self: center;
}

.largecheckbox label {
    font-weight: normal;
    margin-left: 7px;
}
